---
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/general/SubTitle1.astro';

const listaImagenes = [
    {
        src: '/carranzaWeb.webp',
        alt: 'web de la consultora'
    },
    {
        src: '/visitaHaug.webp',
        alt: 'Reunion de trabajo'
    },
    {
        src: '/software.webp',
        alt: 'Software de la consultora'
    }
]

---

<Layout title="Work in Consultoría Carranza">
    <section class="min-h-[82vh] flex flex-col justify-center items-center">
        <Title>Consultoría Carranza</Title>
        <section class="md:flex flex-row flex-wrap px-4 py-6 justify-center">
            <div class="md:max-w-[25%] pr-4 flex justify-center">
                <p class="text-md text-active text-wrap">
                    Realice el diseño y desarrollo de la página web de la consultora Carranza. 
                    La página web fue desarrollada con tecnologías como HTML, CSS, JavaScript y 
                    la herramienta Wordpress. <br>
                    Se realizo el desarrollo de un proyecto de integral para la consultora Carranza,
                    este tiene como objetivo su venta y distribución a compañias industriales. El proyecto
                    se llama HarkAI y soy el encargado de su desarrollo y mantenimiento de software. <br>
                    El software fue desarrollado con tecnologías como Python (para el desarrollo de la IA); 
                    React y Tailwind (para el desarrollo Web); React Native y Typescript 
                    (para el desarrollo de la app móvil), y todo se combino con un sistema mecánico-eléctrico.
                </p>
            </div>
            <div class="lg:max-w-[50%] flex flex-col px-2 py-2 items-center">
                <div class="lg:py-0 border rounded-lg w-[70%] self-center">
                    <img id="imagenPrincipal" src={listaImagenes[2].src} alt={listaImagenes[2].alt} style={{"aspectRatio": 1.66}}  class="w-full rounded-lg" />
                </div>
                <div class="flex flex-row justify-between align-middle">

                    <img id="imagen1" src={listaImagenes[1].src} alt={listaImagenes[1].alt} style={{"aspectRatio": 1.66}}  class="lg:w-48 h-32 w-32 p-4 rounded-md" />
                    <img id="imagen2" src={listaImagenes[0].src} alt={listaImagenes[0].alt} style={{"aspectRatio": 1.66}}  class="lg:w-48 h-32 w-32 p-4 rounded-md" />

                </div>
            </div>
        </section>
    </section>
   
</Layout>
