---
import Header from '../components/general/Header.astro';
import { ViewTransitions } from "astro:transitions";
import Analytics from '@vercel/analytics/astro';
import  SpeedInsights  from "@vercel/speed-insights/astro";
import Footer from '../components/general/Footer.astro';
import RedesSociales from '../components/general/redesSociales.astro';

interface Props {
	title: string;
	description?: string;
	image?: string;
	url?: string;
}

const {
	title,
	description = "Explora el portafolio de Norbory, Fullstack Developer y Cloud Architect especializado en soluciones escalables, CI/CD, microservicios y tecnologías cloud.",
	image = "favicon.svg",
	url = "https://www.norbory.com/"
} = Astro.props;

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<!-- SEO Essentials -->
		<link rel="canonical" href={url} />
		<meta name="robots" content="index, follow" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />

		<!-- Open Graph (Facebook, LinkedIn, etc) -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />

		<!-- View Transitions -->
		<meta name="view-transition" content="same-origin"/>
		<ViewTransitions fallback='none'/>
	</head>
	<body class="bg-dark min-h-screenflex-1 bg-mask">
		<Header />
		<RedesSociales />
		<main class="max-w-screen">
			<slot />
		</main>
		<Footer />
		<Analytics/>
		<SpeedInsights/>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Nura';
		src: url('../fonts/Nura-Normal.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nura';
		src: url('../fonts/Nura-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
	@font-face{
		font-family: 'Nura';
		src: url('../fonts/Nura-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nura';
		src: url('../fonts/Nura-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nura';
		src: url('../fonts/Nura-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nura';
		src: url('../fonts/Nura-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nura';
		src: url('../fonts/Nura-ExtraBold.ttf') format('truetype');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nura';
		src: url('../fonts/Nura-ExtraLight.ttf') format('truetype');
		font-weight: 200;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nura';
		src: url('../fonts/Nura-Thin.ttf') format('truetype');
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	:root {
		--main: #1d5c41;
		--sunny: #f2f4f7;
		--dark: #000000;
		--subtext: #dee2e6;
		--border: #c5c5c5;
		--tecno: #edf2f4;
		--contrast: #84a98c;
		--cartel: #edf2f4;
		--transparent: 00FFFFFF;
		--textos: #b5ebb9;
		--idle: #D1D1D1;
		--active: #252525;
		--right: #00FFBB;
	}

	*{
		font-family: 'Nura', sans-serif;
		margin: 0;
		padding: 0;
		box-sizing: border-box;

	}
	html {
		background-size: 224px;
		overflow-x: hidden;
	}

	.nota{
		background-image: linear-gradient(to bottom, #FFF, rgba(237,242,244, 0.3) 90%);
	}

	.image-container {
		perspective: 1000px; /* Define la perspectiva */
	}

	.image-container:hover .image {
		transform: rotateY(10deg); /* Gira la imagen en el eje Y */
		transition: transform 0.5s ease; /* Agrega una transición suave */
	}

	.contenedor-nota{
		background-color: #8d99ae;
	}

	.contenedor-titulo{
		color: #000;
	}

	@media (min-width: 768px) {
		.palabrotas {
			writing-mode: vertical-lr;
			text-orientation: mixed;
		}
	}

	.mobile {
		z-index: 1000;
		background-color: white;
		position: fixed;
		height: 100vh;
	}

	.mobile-content {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
	}

	.bg-mask{
		background: linear-gradient(45deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0.89) 100%);
	}
	
</style>